* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.973),
            rgba(12, 45, 73, 0.9)), url(images/bg2.jfif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    scroll-behavior: smooth;
}

header {
    position: sticky;
    top: 0;
    z-index: 999;
}

/* ////VARIABLE////// */

:root {

    /* BACKGROUND */
    --bg-primary: #6F0000;
    --bg-primary2: rgb(196, 9, 9);
    --bg-hover: #580303;
    --bg-secondary: #010708;
    --bg-black1: #071817;
    --bg-card: #010214;
    --bg-tertiary: #83adab;
    --bg-tertiary-hover: #7b4504;

    /* TYPOGRAPHY */
    --Main-text: #fcf9f9;
    --paragraph-text: #BAB9B7;
}

nav {
    padding: 10px 0;
     background: linear-gradient(
    to right, rgb(49, 1, 1), Black
   );

}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}


nav a {
    height: 100%;
    padding: 0 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    position: relative;
}

nav a::after {
    left: 0;
    content: "";
    position: absolute;
    bottom: 1px;
    width: 0;
    height: 1.5px;
    background-color: var(--bg-primary2);
    transition: width 0.4s ease;

}

nav a:hover::after {
    width: 90%;
}


nav a:hover {

    color: var(--bg-primary2);
}

nav li:first-child {
    margin-right: auto
}


.logo-image {
    margin: 10px 25px;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background: rgb(8, 0, 0);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 0 20px;
    overflow: hidden;
    backdrop-filter: blur (9px);
}


.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.sidebar a span {
    margin-left: 10px;
}

.sidebar a:hover {
    background-color: var(--bg-primary2);
    color: white;
}



/* ////////////////////HERO SECTION///////////////////////// */

@keyframes fadein {

    from {
        opacity: 0;
        transform: translatey(-500);
    }

    to {
        opacity: 1;
        transform: translatey(-0);
    }

}

.hero {
    padding: 5px 11% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
     background: linear-gradient(
    to left, rgb(20, 1, 1), Black
   );

}

.hero-card1 {
    animation: fadein 2s ease;
}

.hero-card1 h2 {
    color: white;
    font-size: 2rem;

}


.ajinibi {
    color: var(--bg-primary2);
}

.hero-card1 h1 {
    color: white;
    font-size: 4rem;
    font-family: "Archivo Black", sans-serif;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--bg-primary2);
    color: white;
    font-weight: 700;
    text-decoration: none;
    transition: .5s;


}

.btn::after {
    transform: translate(50px);
}

.hero-card1 p {
    color: white;
    margin-top: 10px;
    margin-bottom: 35px;
}


.btn:hover {

    background-color: rgb(95, 7, 7);

}


.btn-outline {

    padding: 10px 15px;
    border-radius: 5px;
    color: var(--Main-text);
    background: transparent;
    display: inline-block;
    border: 2px solid var(--bg-primary2);
    font-weight: 700;
    text-decoration: none;


}

.click {
    display: flex;
    gap: 0.6rem;
}

.information {
    background-color: var(--paragraph-text);
    width: 80px;
    border-radius: 50px;
    padding: 15px 15px;
}


.stats {
    display: flex;
    gap: 20px;
    margin-top: 40px;
}

.stat {
    border-right: 1px solid #333;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
}

.stat:last-child {
    border: none;

}

.stat i {
    color: var(--bg-primary2);
    font-size: 20px;
    margin-bottom: 4px;

}

.stat strong {
    font-size: 15px;
    color: var(--Main-text);
}

.stat small {
    color: var(--Main-text);
    font-size: 13px;
}

.hero-image {

    align-self: flex-end;
}

.hero-image img {
    width: 350px;

}

/* ///////////ABOUT SECTION///////////// */

.about {
    display: flex;
    align-items: center;
    justify-content: center;
     background: linear-gradient(
    to right, rgb(20, 1, 1), Black
   );
}

.about-image {
    flex: 1;
    max-width: 500px;
}

.about-content {
    margin-right: 40px;
}

.about-title {
    display: block;
    font-size: 20px;
    margin-bottom: 12px;
    color: var(--bg-primary2);
    font-weight: bolder;
}

.about-content h2 {
    font-size: 38px;
    color: var(--Main-text);
    line-height: 1.2;
    margin: 0 0 18px;

}

.about-content p {
    color: var(--Main-text);
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 25px;
}

/* //////SERVICES SECTION/////////// */

.service {
     background: linear-gradient(
    to left, rgb(20, 1, 1), Black
   );
}

.service-heading p {
    color: var(--bg-primary2);
    font-size: 20px;
    font-weight: bolder;
    padding-top: 70px;
    text-align: center;
}

.service-heading h2 {
    font-size: 30px;
    color: var(--Main-text);
    line-height: 1.2;
    margin: 0 0 18px;
    text-transform: uppercase;
    text-align: center;
    font-family: "Archivo Black", sans-serif;
}

.service-heading h2::after {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background: var(--bg-primary2);
    margin: 7px auto;
}

.service-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 14px;
    justify-content: center;
    padding: 30px;

}

.services-card {
    background: radial-gradient(rgba(24, 4, 1, 0.9),
            rgba(0, 6, 12, 0.9));
    border: 2px solid rgb(49, 50, 51);
    border-radius: 8px;
    padding: 25px 18px;
    transition: .3s;
    margin-top: 20px;
    margin-bottom: 30px;
}

.services-card:hover {
    border-color: var(--bg-tertiary);
    transform: translateY(-10px);
}

.services-card h3 {
    color: var(--bg-primary2);
    margin-bottom: 8px;
}

.services-card i {
    color: var(--bg-primary2);
    font-size: 20px;

}

.services-card p {
    color: var(--Main-text);
    font-size: 15px;
    line-height: 1.7;
    margin-bottom: 15px
}

.services-card a {
    text-decoration: none;
    color: var(--bg-primary2);
}

.services-card a:hover {
    color: #c70b46;
}


/* //////////////SKILL SECTION//////////////// */


.skills {
    padding: 55px 7px;
    background: linear-gradient(to right, rgb(20, 1, 1), Black);
}

.skill-heading p {
    color: var(--bg-primary2);
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
}

.skill-heading h2 {
    font-size: 30px;
    color: var(--Main-text);
    line-height: 1.7;
    margin: 0 0 18px;
    text-transform: uppercase;
    text-align: center;
    font-family: "Archivo Black", sans-serif;
}

.skill-heading h2::after {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background: var(--bg-primary2);
    margin: 7px auto;
}

/* ///SKILL GRID///// */

.skill-column {
    display: grid;
    grid-template-columns: repeat(4, 220px);
    gap: 20px;
    justify-content: center;
}

.skill {
    width: 100%;
    max-width: 500px;
    margin-bottom: 25px;

}

.skill-container {
    margin-top: 80px;
}

.skill-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.skill-name span {
    color: var(--Main-text);
}


.skill-name {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    font-weight: bold;
}

.percentage {
    font-size: 15px;
    color: var(--Main-text);
}

.progress-bar {
    width: 100%;
    height: 8px;
    background: var(--Main-text);
    border-radius: 20px;
    overflow: hidden;

}

.progress {
    height: 100%;
    background: linear-gradient(rgba(255, 1, 1, 0.9));
}


/* ///////////PROJECTS SECTION/////////////// */

.projects {
    background: linear-gradient(to left, rgb(20, 1, 1), Black);
    padding: 30px;
}

.project-btn {
    padding: 10px 15px;
    border-radius: 5px;
    color: var(--bg-primary2);
    background: transparent;
    display: inline-block;
    border: 2px solid var(--bg-primary2);
    font-weight: 700;
    text-decoration: none;
    box-shadow: 0 0 10px #F40F57;
}

.projects-top {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 25px;
}


.projects-topmain {
    font-size: 38px;
    color: var(--Main-text);
    line-height: 1.2;
    margin: 0 0 18px;
    text-transform: uppercase;
}

.small-title {
    color: var(--bg-primary2);
    font-size: 20px;
    font-weight: bolder;
    padding-top: 20px;
}


.project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
}

.project-card {
    background: radial-gradient(rgba(48, 7, 1, 0.9),
            rgba(0, 6, 12, 0.9));
    border: 1px solid rgb(34, 2, 2);
    padding: 10px;
    border-radius: 10px;
    transition: .3s;
}

.project-card:hover {
    transform: translateY(-10px);
    border-color: rgb(105, 1, 1);
}


.project-card img {
    width: 100%;
    height: 145px;
    object-fit: cover;
    margin-bottom: 12px;
}

.project-card h3 {
    font-size: 15px;
    color: var(--bg-primary2);
}

.project-card p {
    color: var(--paragraph-text);
    font-size: 12px;
    line-height: 1.7;
    margin: 7px 0 12px;
}

.tags {
    display: flex;
    gap: 5px;
}

.tags span {
    display: flex;
    gap: 5px;
    color: var(--paragraph-text);
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #080101;
    border: 1px solid rgb(128, 4, 4);
}

.tags span:hover {
    background-color: #5f0303;
}

/* ///////////CHAT SECTION///////////// */

.chat {
    background: linear-gradient(to right, rgb(20, 1, 1), Black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    color: var(--Main-text);
}

.small-text {
    font-weight: bolder;
    font-size: 13px;
}

.chat h2 {
    font-size: 30px;
    line-height: 1.7;
}

.chat p {
    font-size: 13px;
}




@media(max-width: 800px) {
    .hideOnMobile {
        display: none;
    }

    .click {
        display: flex;
        flex-direction: column;

    }



    /* HERP SECTION */

    .hero {

        min-height: auto;
        padding: 100px 5% 50px;
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 900px;

    }

    .hero-content {
        width: 100%;
        max-width: 100%;
    }

    .hero-card1 h1 {
        font-size: 45px;
        line-height: 1.1;
    }

    .hero-card1 h2 {
        font-size: 20px;
        line-height: 1.8;
    }

    .hero-card1 p {
        font-size: 13px;
        line-height: 1.7;
    }

    /* BUTTON */

    .btn {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 12px;
    }

    .btn-outline {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 12px;
        gap: 12px;
    }

    /* STATISTICS */

    .stats {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        width: 100%;
        margin-top: 30px;
    }

    /* IMAGE */
    .hero-image {
        height: auto;
        overflow: visible;
        margin-top: 30px;
    }

    .hero-image img {
        width: 100%;
        max-width: 400px;
        height: 100%;
        display: block;
        object-fit: contain;
        object-position: center;
        margin-left: 20px;
    }

    /* ABOUT */
    .about {

        flex-direction: column;
        gap: 40px;
        padding: 70px 5%;
    }

    .about-image {
        max-width: 100%;
        width: 100%;
    }

    .about-content {
        max-width: 100%;
        width: 100%;
        margin-left: 40px;
    }

    .about-content h2 {
        font-size: 30px;
    }

    .about-content p {
        font-size: 16px;
    }

    .service{
        height: 220vh;
    }

    .service-heading h2{
        font-size: 25px;
    }

    .service-container {
        display: grid;
        grid-template-columns: repeat(1, 350px);
        gap: -20px;
        margin: 30px;
    }

    /* /////////SERVICES////////////// */

    .skill-column {
        display: grid;
        grid-template-columns: repeat(1, 300px);
        margin: 30px;
    }


    /* ///////PROJECTS SECTION//////// */

    .projects-top {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .project-btn {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 12px;
        gap: 12px;
    }

    .small-title {
        text-align: center;
    }

    .project-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    /* ///////CHAT//////////// */

    .chat{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

}